<%= render partial: "layouts/errors" %>

<%= form_with(model: @group) do |form| %>
  <%= form.label(:name, 'Name: ') %>
  <%= form.text_field(:name) %><br>

  <%= form.label(:icon, 'Icon link: ') %>
  <%= form.text_field(:icon) %>

  <div class="flex btn-bg">
    <%= form.submit('NEW GROUP', class: 'btn btn-bg') %>
  </div>
<% end %>
