<h1>Group transactions</h1>
<h2><%= @group.name %></h2>

<h2>total amount:
  USD$ <%= number_with_precision(total_amount_with_group, :precision => 2) %>
</h2>

<% @group.transactions.each do |line| %>
  <div>
    <%= line.name %> •
    $USD <%= number_with_precision(line.amount, :precision => 2) %> •
    <%= line.created_at.strftime("%b %d") %>
    by <%= line.user.name %>
    <br>
  </div>
<% end %>
