<%= render partial: "layouts/errors" %>

<%= form_with(model: @user) do |form| %>
  <%= form.label(:name, 'Your username: ') %>
  <%= form.text_field(:name) %><br>

  <%= form.label(:image, 'Upload avatar: ') %>
  <%= form.file_field(:image) %>

  <div class="flex btn-bg">
    <%= form.submit('CREATE ACCOUNT', class: 'btn btn-bg') %>
  </div>
<% end %>
