<%= render partial: "layouts/errors" %>

<%= form_with(model: @user) do |form| %>
  <%= form.label(:name, 'Your username: ') %>
  <%= form.text_field(:name) %>

  <div class="flex btn-bg">
    <%= form.submit('Make my account!', class: 'btn btn-bg') %>
  </div>
<% end %>
