<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <li class="alert alert-danger"><%= error %></li>
  <% end %>
<% end %>

<%= form_with(model: @user) do |form| %>
  <%= form.label(:name, 'Your username: ') %>
  <%= form.text_field(:name) %>

  <%= form.submit('Make it!') %>
<% end %>
