<div class="flex space-between">
  <%= link_to '<span class="material-icons">arrow_back</span>'.html_safe, root_path %>
  <h1>EXTERNAL TRANS.</h1>
  <%= link_to '<span class="material-icons">power_settings_new</span>'.html_safe, new_session_path, method: :delete %>
</div>

<h2>TOTAL AMOUNT:
  <%= number_with_precision(current_user.transactions.without_group.sum(:amount),
  :precision => 0) %>
</h2>

<% current_user.transactions.without_group.sort_most_recent.each do |line| %>
  <%= line.name %> •
  <%= number_with_precision(line.amount, :precision => 2) %> •
  <%= line.created_at.strftime("%b %d") %>
  <br>
<% end %>

<%= link_to 'NEW TRANSACTION', new_transaction_path,
:class => "btn" %>
