<h1>EXTERNAL TRANSACTIONS</h1>

<h2>TOTAL AMOUNT:
  <%= number_with_precision(total_amount_without_group, :precision => 0) %>
</h2>

<% @transaction.without_group.sort_most_recent.each do |line| %>
  <%= line.name %> •
  <%= number_with_precision(line.amount, :precision => 2) %> •
  <%= line.created_at.strftime("%b %d") %>
  <br>
<% end %>

<%= link_to 'NEW TRANSACTION', new_transaction_path,
:class => "btn" %>
