<div class="flex space-between">
  <span class="material-icons">menu</span>
  <h1>TRANSACTIONS</h1>
  <span class="material-icons">
  search
  </span>
</div>


<h2>TOTAL AMOUNT:
  <%= number_with_precision(
    current_user.transactions.with_group.sum(:amount),
    :precision => 0) %>
</h2>

<% current_user.transactions.with_group.sort_most_recent.each do |line| %>
  <%= line.name %> •
  <%= number_with_precision(line.amount, :precision => 2) %> •
  <%= line.created_at.strftime("%b %d") %>

  <%= link_to raw('
    <span class="material-icons">account_balance_wallet</span>
  '), root_path %>

  <br>
<% end %>

<%= link_to 'NEW TRANSACTION', new_transaction_path,
  :class => "btn" %>
