<div class="flex space-between">
  <%= link_to '<span class="material-icons">arrow_back</span>'.html_safe, user_path(current_user.id) %>
  <h1>TRANSACTIONS</h1>
  <%= link_to '<span class="material-icons">power_settings_new</span>'.html_safe, new_session_path, method: :delete %>
</div>

<div class="flex space-between align-center board">
  <h3>Total amount</h3>

  <p>$<%= number_with_precision(
    current_user.transactions.with_group.sum(:amount),
    :precision => 2) %></p>
</div>

<div class="list">
<% @transactions.each do |line| %>
  <div class="list-item">

    <%= link_to group_path(line.group.id) do %>
      <%= image_tag(line.group.icon, class: "icon float") %>
    <% end %>

    <div class="flex space-between">
      <p class="dark-text"><%= line.name %></p>
      <p class="dark-text t-bold">$<%= number_with_precision(line.amount, :precision => 2) %></p>
    </div>

    <hr>
    <%= line.created_at.strftime("%d %b %Y") %><br>
  </div>
<% end %>
</div>

<div class="flex btn-bg">
  <%= link_to 'ADD NEW', new_transaction_path, :class => "btn" %>
</div>
