<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Thiago Miranda">
    <title>Wallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="image" property="og:image" content="https://imagizer.imageshack.com/img924/2408/yO7wH8.png">
    <meta name="description" property="og:description" content="A mobile web app, to manage your personal cash flow.">
  </head>

  <body class="container">
    <%= flash_messages(notice) %>
    <%= flash_messages(alert) %>
    <%= flash_messages(success, 'alert-success') %>

    <%= yield %>
  </body>
</html>
