<!DOCTYPE html>
<html>
  <head>
    <title>Wallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="flex space-between">
      <div>
        <%= link_to 'LOGIN', new_session_path %>
        <%= link_to 'REGISTER', new_user_path %>
      </div>

      <div>
        <%= link_to 'TRANSACTIONS', transactions_path %>
        <%= link_to 'GROUPS', groups_path %>
        <%= link_to 'LOGOUT', new_session_path, method: :delete %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
